<h3>Ultimele carti oferite</h3>

<div class="vertical-list">
  <div *ngIf="latestOffersModel.isGood()===false">
    {{latestOffersModel.message}}
  </div>
  <div *ngIf="latestOffersModel.isGood()">
    <app-book class="mr-2" *ngFor="let book of latestOffers" [book]="book"
      routerLink="/book/{{book.isbn}}"></app-book>
  </div>
</div>
<br>
<h3>Ultimele carti oferite</h3>
<div class="vertical-list">
  <app-book class="mr-2" *ngFor="let book of bookService.getBooksForHomePage()" [book]="book"
    routerLink="/book/{{book.isbn}}"></app-book>
</div>
